<h1>Welcome to CSE Motors!</h1>
<div id="hero">
    <img src="/images/vehicles/delorean.jpg" alt="delorean">

    <div id="hero-popup">
        <h3>DMC Delorean</h3>
        <ul>
            <li>3 Cup Holders</li>
            <li>Superman doors</li>
            <li>Fuzzy dice!</li>
        </ul>
        <button type="button">Own Today</button>
    </div>
</div>


<section>
    <!-- Container 1 -->
    <div id="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
    <!-- Container 2 -->
    <div id="upgrades">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-contain">
            <div>
                <div class="upgrade-img">
                    <img src="/images/upgrades/flux-cap.png" alt="Flux Cap Upgrade">
                </div>
                <a href="#">Flux Capacitor</a>
            </div>
            <div>
                <div class="upgrade-img">
                    <img src="/images/upgrades/flame.jpg" alt="Flame Upgrade">
                </div>
                <a href="#">Flame Decals</a>
            </div>
            <div>
                <div class="upgrade-img">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Upgrade">
                </div>
                <a href="#">Bumper Stickers</a>  
            </div>
            <div>
                <div class="upgrade-img">
                    <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap Upgrades">
                </div>
                <a href="#">Hub Caps</a>
            </div>
        </div>
    </div>
</section>