@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=PT+Serif&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* Font & Weight */
  --title-font: "Montserrat";
  --title-weight: 500;
  --main-font: "PT Serif";
  --par-font: "Montserrat";
  --par-weight: 400;

  /* Colors */
  --primary: #00C2D1;
  --secondary: #0A1045;
  --font_background: #DED9E2;
}

body {
  color: var(--secondary);
  font-family: "PT Serif";
}

header {
  display: flex;
  justify-content: space-between;
}

.homelink {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: xx-large;
  text-decoration: none;
  color: var(--secondary)
}

.accountLink a {
  font-family: "Montserrat";
  font-weight: 500;
  text-decoration: none;
  color: var(--secondary)
}

.accountLink a:hover {
  color: var(--primary);
}

nav ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--secondary);
  width: 100%;
  justify-content: center;
  border-radius: 5px;
}

.navlink {
  list-style: none;
  font-weight: 500;
  padding: 15px 10px;
  font-family: "Montserrat";
  /* width: 85px; */
  text-align: center;
}

.navlink a {
  color: var(--primary);
  text-decoration: none;
  padding: 15px;
}

/* .navlink:hover {
} */

.navlink a:hover {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 15px;
  
}
/* ****************************** */
/* HOME PAGE */
/* ****************************** */

h1 {
  font-family: "PT Serif";
  font-size: x-large;
}

#hero {
  position: relative;
  color: rgb(0, 194, 209, 1);
  width: 100%;
  display: flex;
}

#hero img {
  width: 80%;
  margin: 0 auto;
}

#hero h3 {
  margin: 0;
  font-weight: bolder;
  font-size: large;
  margin-right: 2px;
}

#hero ul {
  margin: 0;
  list-style: none;
  padding: 0;
  font-weight: bold;
  font-size: small;
  font-family: "Montserrat";
}

#hero-popup {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,.8);
  /* opacity: .8; */
  font-family: "PT Serif";
  padding-left: 5px;
}

#hero-popup button {
  background-color:rgb(0, 194, 209, 1);
  color: var(--secondary);
  font-weight: bold;
  opacity: 1;
  padding: 10px;
  border-radius: 3pt;
  margin-bottom: 2px;
  margin-top: 2px;
  border: none;
  box-shadow: 1px 1px gray;
}

section {
  display: flex;
  flex-direction: column;
}

#reviews, #upgrades {
  max-width: 400px;

}

#reviews h2 {
  margin-bottom: 10px;
}

#reviews ul {
  padding-left: 15px;
  font-size: small;
}

#reviews ul li {
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 15px;
}

.upgrade-contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.upgrade-contain div {
  display: flex;
  flex-direction: column;
  width: 175px;
  height: 105px;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.upgrade-contain div:nth-child(3), div:nth-child(4) {
  margin-top: 35px;
  margin-bottom: 5px;
}

.upgrade-img {
  background-color: var(--primary);
  border: 1px solid var(--secondary)
}
.upgrade-img img {
  width: 35%;
}

#wrapper main {
  margin: 5px 15px;
}

/* ****************************** */
/* CLASSIFICATION VIEW */
/* ****************************** */

#inv-display {
  padding-left: 0;
  max-width: 500px;
  margin: 0 auto;
}

#inv-display li {
  border: 1px solid var(--secondary);
  border-radius: 5px;
  list-style-type: none;
  text-align: center;
  margin: 5px auto;
}

#inv-display li a {
  text-decoration: none;
  color: var(--secondary)
}

#inv-display li a:hover {
  color: var(--primary)
}

#inv-display li a img{
  margin-top: 5px;
  border-radius: 5px;
}

#inv-display li div {
  padding-bottom: 10px;
}

#inv-display li div h2 {
  margin: 10px 0;
}

/* ****************************** */
/* VEHICLE DETAIL VIEW */
/* ****************************** */

#detail-title {
  font-size: xx-large;
}

.details-cont {
  text-align: center;
}

.details-cont img {
  border-radius: 5px;
}

.table-info {
  text-align: left;
}

.table-info table {
  border-spacing: 0 5px;
  margin: 0 10px;
}

.table-info table tr:nth-child(even) {
  background-color: rgb(212, 211, 211);
}

/* ****************************** */
/* MASTER FORM STYLES */
/* ****************************** */
form {
  margin: 0 auto;
  max-width: 500px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  padding: 25px 50px;
  display: flex;
  flex-direction: column;
  background-color: #00c3d14e;
  color: var(--secondary);
}

form input {
  border-radius: 5px;
  margin-bottom: 10px;
  height: 25px;
  /* background-color: #00c3d14e; */
}

/* form input:required:invalid, input:focus:invalid {
  background-color: rgba(255, 0, 0, 0.301);
}

form input:required:valid {
  border-left: rgba(0, 128, 0, 0.696);
} */

/* Various Views Message */

.notice {
  color: red;
  font-style: italic;
}

/* ****************************** */
/* ACCOUNT LOGIN VIEW */
/* ****************************** */

#login-form p {
  text-align: center;
  margin-bottom: 0;
}

#login-form p a {
  text-decoration: none;
  font-size: large;
  color: var(--secondary);
}

#login-form p a:hover {
  color: red;
}

#login-submit {
  width: 75px;
  margin: 0 auto;
  font-family: var(--par-font);
  font-weight: var(--par-weight);
  font-size: medium;
  cursor: pointer;
}

#login-submit:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* ****************************** */
/* ACCOUNT REGISTER VIEW */
/* ****************************** */

#reg-submit  {
  width: 85px;
  margin: 0 auto 3px;
  font-family: var(--par-font);
  font-weight: var(--par-weight);
  font-size: medium;
  cursor: pointer;
}

#reg-submit:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* ****************************** */
/* VEHICLE MANAGEMENT VIEW */
/* ****************************** */

.manage-cont {
  display: flex;
  flex-direction: column;
}

.manage-cont a {
  text-decoration: none;
  color: var(--secondary);
  width: auto;
  margin: 5px 20px;
  display: block;
  font-size: large;
}

.manage-cont a:hover {
  color: var(--primary);
}

/* ****************************** */
/* ADD CLASSIFICATION VIEW */
/* ****************************** */

#add-class-form p {
  margin-bottom: 10px;
}

#add-class-submit {
  width: 165px;
  margin: 0 auto 3px;
  font-family: var(--par-font);
  font-weight: var(--par-weight);
  font-size: medium;
  cursor: pointer;
}

#add-class-submit:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* ****************************** */
/* ADD VEHICLE VIEW */
/* ****************************** */

#add-vehicle-form select {
  border-radius: 5px;
  margin-bottom: 10px;
  height: 25px;
}

#add-vehicle-form textarea {
  border-radius: 5px;
  margin-bottom: 10px;
  
}

#add-vehicle-submit {
  width: 135px;
  margin: 0 auto 3px;
  font-family: var(--par-font);
  font-weight: var(--par-weight);
  font-size: medium;
  cursor: pointer;
}

#add-vehicle-submit:hover {
  background-color: var(--secondary);
  color: var(--primary);
}

/* ****************************** */
/* ACCOUNT MANAGEMENT VIEW */
/* ****************************** */
.invLinkCont h3{
  margin-bottom: 0;
}

.invLinkCont p{
  margin-top: 5px;
  margin-left: 5px;
}

.linkToInv {
  text-decoration: none;
  color: var(--secondary);
}

.linkToInv:hover {
  color: var(--primary);
}

/* ****************************** */
/* ERROR VIEW */
/* ****************************** */
#crash-img {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

#crash-img img {
  width: 100%;
  opacity: .5;
}

#crash-img p {
  font-size: larger;
  display: block;
  position: absolute;
  width: 200px;
  left: 0;
  top: 75px;
}


@media screen and (min-width: 750px){
  body {
    background-image: url(/images/site/checkerboard.jpg);
    background-repeat: repeat;
  }
 
  #wrapper {
    background-color: white;
    margin: 0 auto;
    border: 3px solid var(--primary);
    padding: 10px;
    max-width: 1200px;
  }

  .accountLink a {
    font-size: large;
  }

  nav ul {
  justify-content: space-evenly;
  }

  nav ul li {
    font-size: large;
    width: 95px;
    text-align: center;
  }

  h1 {
    font-size: xx-large;
  }

  /* ****************************** */
  /* Query - HOME PAGE */
  /* ****************************** */

  #hero-popup {
    position: absolute;
    left: 25px;
    top: 15px;
    padding-left: 15px;
  }

  #hero h3 {
    font-weight: bolder;
    font-size: xx-large;
    margin-right: 10px;
  }
  
  #hero ul {
    padding-left: 5px;
    font-size: x-large;
  }

  #hero-popup button {
    font-size: large;
    padding: 15px 25px;
    margin-top: 20px;
  }
  

  section {
    flex-direction: row-reverse;
    /* max-width: 800px; */
    justify-content: space-around;
  }

  #reviews h2, #upgrades h2 {
    margin-bottom: 40px;
  }

  #reviews ul {
    padding-left: 15px;
    font-size: medium;
  }

  #reviews ul li {
    margin-bottom: 25px;
  }

  .upgrade-contain div:nth-child(3), div:nth-child(4) {
    margin-top: 25px;
  }

  /* ****************************** */
  /* Query - CLASSIFICATION VIEW */
  /* ****************************** */
  
  #inv-display {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  #inv-display li {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }

  #inv-display li a {
    height: 140px;
  }

  #inv-display li .namePrice a {
    font-size: large;
  }

  #inv-display li a img{
    margin-top: 1px;
    width: 99%;
  }

  #inv-display hr {
    width: 100%;
  }

  /* ****************************** */
  /* Query - VEHICLE DETAIL VIEW */
  /* ****************************** */

  .details-cont {
    display: flex;
  }

  .details-cont img {
    width: 50%;
    margin-right: 15px;
  }

  /* ****************************** */
  /* Query - ERROR VIEW */
  /* ****************************** */

  #crash-img p {
    width: 45%;
    left: 0;
    top: 15%;
    font-size: xx-large;
    text-align: left;
  }

}