<!-- Title -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Error --> 
<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<!-- Message -->
<% if (message) { %>
    <p class="notice"><%= message %></p>
    <% } %>

<div id="add-class-cont">
    <form id="add-class-form" action="/inv/add-class" method="post">
        <p>*No spaces or special characters allowed.*</p>
        <!-- <p>*Min 3 characters*</p> -->
        <label for="classification_name">Classification Name:</label>
        <input type="text" name="classification_name" id="classification_name" pattern="[A-Za-z]{1,}" required>

        <input id="add-class-submit" type="submit" value="Add Classification">
    </form>
</div>